.bg-color-D1EEFE {
    background-color: #369ABE;
}
.bg-color-title {
    background-color: #369ABE;
}
.bg-color-background {
    background-color: #C6C8C3;
}

body{
    overflow-x: hidden;
 }
.encabezado {
    font-style: italic;
    font-size: 50px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    padding: 2px;
    margin: 63px 2px 5px 2px;
    border-radius: 8px;
}
.navbar-style {
    padding:  5px 2px 5px 0px;
    margin: 0px 2px 0px 2px;
    height: 60px;
    width: auto;
    border-radius: 5px;
    background-color: #369ABE;
    border-style: hidden;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: black;
   
    
}
.card-style {
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    color: black;
    font-size: 15px;
    margin: 20px;
    margin-top: 1px;
    padding: 5px;
    height: 92%;
    
}
.sección-extra {
    margin: 3px 2px 0px 2px;
    width: auto;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-style: inherit;
}
.card {
    background-color: #C6C8C3;
    border: 2px solid  #369ABE;
}

.card-extra {
    margin-top: 20px;
    margin-bottom: 15px;
}

.font-arial {
    font-family: Arial, Helvetica, sans-serif;
}
.titulo {
    font-weight: bolder;
}

.margin-carousel {
    margin-top: 2%;
    margin-bottom: 0px;
}
.margin-notice {
    margin: 20px ;
}
.footer {
    height: 240px;
    background-color:#369ABE;
    margin: 20px 2px 0px 2px;
    border-radius: 8px;
}
.copyright {
    background-color: #B1B1B1;
    border-radius: 8px;
    width: 100%;
}
.button-margin {
    margin-bottom: 4px;
}




